/* fix dimensione .recipe-video img */
.recipe-video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Soluzione qui */
/* ***TABLET*** */
@media screen and (min-width: 768px){
  #topbar{
    justify-content: left;
  }

  main .container{
    padding: 30px;
  }

  .recipe-origin{
    display: inline;
  }

  .recipe-name, 
  .recipe-origin{
    font-size: 26px;
  }

  .quick-notes ul li{
    width: 30%;
    display: inline-block;
    margin: 15px 9px; 
  }

  .social-networks{
    justify-content: space-around;
  }

  .btn {
    padding: 10px 50px;
  }

  .ads{
    display: block;
  }
}